{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('https://plus.unsplash.com/premium_photo-1681487118711-2c8e629d4313?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p> I am a student of Applied Computer Science at the Warsaw University of Technology, with a strong passion for creating innovative solutions and automating existing processes. My main interests lie in backend development and artificial intelligence, where I enjoy building smart, efficient systems that solve real-world problems. </p>
          <p> In addition to my academic and programming pursuits, I’m deeply interested in both tennis and the automotive world. I find that sports keep me focused and disciplined, while my enthusiasm for cars fuels my curiosity and attention to detail. </p>
          <p> Whether I’m developing applications, exploring the possibilities of AI, or just enjoying a good match on the tennis court, I’m always eager to learn and push boundaries. This blog is a space where I share not only my technical journey but also insights, ideas, and the things that inspire me along the way. </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" with context %}
